@tailwind base;

textarea {
  @apply flex-1 p-2 m-1 bg-transparent text-gray-800;
}

@tailwind components;

.bg-lightblue {
  background-color: #d9e7ef;
}

.bg-gray {
  background-color: #f5f7f9;
}

.mainForm {
  @apply border-t-2;
  @apply border-gray-200;
}

.card {
  @apply flex flex-col p-2 w-full;
}

.card--content {
  @apply rounded-md border-l-8 border-red-200 flex flex-col shadow bg-white;
  @apply h-full;
}

@screen md {
  .mainForm {
    @apply w-full;
    @apply flex flex-col justify-evenly;
  }
  .card {
    @apply w-full;
    height: 30%;
  }
}

@screen sm {
  .card {
    @apply px-8 py-6;
  }
}

@tailwind utilities;
